<form action="/restaurants/{{ restaurant._id }}?_method=PUT" method="POST">
  <div class="container mt-3">
    <div class="row">
      <div class="form-group col-md-6">
        <label for="name" class="text-dark">餐廳名稱</label>
        <input type="text" class="form-control" name="name" id="name" value="{{restaurant.name}}" required>
      </div>
      <div class="form-group col-md-6">
        <label for="name_en" class="text-dark">英文名稱</label>
        <input type="text" class="form-control" name="name_en" id="name_en" value="{{restaurant.name_en}}" required>
      </div>
      <div class="form-group col-md-6">
        <label for="category" class="text-dark">類別</label>
        <input type="text" class="form-control" name="category" id="category" value="{{restaurant.category}}" required>
      </div>
      <div class="form-group col-md-6">
        <label for="phone" class="text-dark">電話</label>
        <input type="text" class="form-control" name="phone" id="phone" value="{{restaurant.phone}}" required>
      </div>
      <div class="form-group col-md-6">
        <label for="location" class="text-dark">地址</label>
        <input type="text" class="form-control" name="location" id="location" value="{{restaurant.location}}" required>
      </div>
      <div class="form-group col-md-6">
        <label for="google_map" class="text-dark">地圖</label>
        <input type="text" class="form-control" name="google_map" id="google_map" value="{{restaurant.google_map}}"
          required>
      </div>
      <div class="form-group col-md-6">
        <label for="description" class="text-dark">簡介</label>
        <textarea class="form-control" name="description" id="description"
          required>{{restaurant.description}}</textarea>
      </div>
      <div class="form-group col-md-6">
        <label for="image" class="text-dark">照片</label>
        <textarea class="form-control" name="image" id="image">{{restaurant.image}}</textarea>
      </div>
      <div class="form-group col-md-6">
        <label for="rating" class="text-dark">評分</label>
        <input type="number" min="0.0" max="5.0" step="0.1" class="form-control" name="rating" id="rating"
          value="{{restaurant.rating}}" required>
      </div>
      <div class="form-group col-md-6 d-flex align-items-end justify-content-end">
        <button type="submit" class="btn btn-outline-info mx-3">修改</button>
        <a href="/restaurants/{{ restaurant._id }}" class="btn btn-outline-danger">取消</a>
      </div>
    </div>
</form>

</div>